.description {
  padding: 25vh 15vw 0;
  min-height: 65vh;
  background: $blue;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  .txt {
    max-height: 25vh;
    width: 40vw;
    font-size: 1.25vw;
  }
  .divider {
    height: 25vh;
    margin: 0 5vw;
  }
}
