.land-sep {
  background-image: url("../img/seperators/LandingSep.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  width: $wscreen;
  position: absolute;
}
.Project-top {
  position: relative;
  bottom: 0;
  width: $wscreen;
  background: $blue;
}
.Contact-sep {
  width: 110vw;
  max-height: auto;
  background: $blue;
}
.Footer-sep {
  transform: translateY(-1vh);
  background-color: $blue;
  width: $wscreen;
}
